@import "base.scss";
@import "compass";
@import "colors.css";

#header{
	padding-bottom:10px;
	text-align:center;
	#mineways-header-image{
		padding-bottom:10px;
	}

	p, span, a{
		@include minecrafter;
	}

	#navbar{
		.menuDrawer{
			text-align:left;
			padding-top: 10px;
			width:260px;
			position:relative;
			display:inline-block;
			vertical-align: top;
			border-radius:3px;
			border: 1px solid #CCCCCC;
			margin: 0px 5px;
			a{
				margin-left:20px;
				text-decoration: none;
				color: #005469;
			}
			a:hover{
				color:#A8001C;
			}
			.drawer{

			}
			.contents{
				display:block;
				margin-left:10px;
				a {
					display:block;
				}
			}
			.closed{
				display:none;
			}
			.drawer.active {
			    display: block;
			}
		}
	}
}