@import "global/base.scss";
@import "global/header.scss";

body{
	#imgGroupTbl{
		p{
			display:inline;
		}
	}

	#importantLinks{
		li{
			*{
				display:inline;
			}
		}
	}

	.navigation{
		display:none;
	}
}