/* Vendor Dependencies */
/**Mixins, variables, colors, etc **/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Ryan\/Dropbox\/Mineways\/global\/base\.scss}line{font-family:\000032}}
.ib {
  display: inline-block !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Ryan\/Dropbox\/Mineways\/global\/base\.scss}line{font-family:\000036}}
.b {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Ryan\/Dropbox\/Mineways\/global\/base\.scss}line{font-family:\0000310}}
.cb {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Ryan\/Dropbox\/Mineways\/global\/base\.scss}line{font-family:\0000314}}
.fl {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Ryan\/Dropbox\/Mineways\/global\/base\.scss}line{font-family:\0000318}}
.fr {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Ryan\/Dropbox\/Mineways\/global\/base\.scss}line{font-family:\0000323}}
.mIframe {
  display: block;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Ryan\/Dropbox\/Mineways\/global\/base\.scss}line{font-family:\0000328}}
.i {
  display: inline !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Ryan\/Dropbox\/Mineways\/global\/base\.scss}line{font-family:\0000338}}
p {
  margin-top: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Ryan\/Dropbox\/Mineways\/global\/base\.scss}line{font-family:\0000333}}
.inliner * {
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Ryan\/Dropbox\/Mineways\/global\/base\.scss}line{font-family:\0000346}}
.center {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Ryan\/Dropbox\/Mineways\/global\/base\.scss}line{font-family:\0000350}}
a {
  color: #005469;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Ryan\/Dropbox\/Mineways\/global\/base\.scss}line{font-family:\0000353}}
a:hover {
  color: #A8001C;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Ryan\/Dropbox\/Mineways\/global\/base\.scss}line{font-family:\0000391}}
.minecrafter .children {
  font-family: 'Minecrafter';
  font-weight: 100;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Ryan\/Dropbox\/Mineways\/global\/base\.scss}line{font-family:\0000393}}
.minecrafter .children * {
  font-family: 'Minecrafter';
  font-weight: 100;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Ryan\/Dropbox\/Mineways\/global\/base\.scss}line{font-family:\0000398}}
.minecrafter {
  font-family: 'Minecrafter';
  font-weight: 100;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Ryan\/Dropbox\/Mineways\/global\/base\.scss}line{font-family:\00003102}}
.noPadNoMarg {
  padding: 0;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Ryan\/Dropbox\/Mineways\/global\/base\.scss}line{font-family:\00003118}}
b {
  font-family: vt323, sans-serif;
  position: relative;
  top: 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Ryan\/Dropbox\/Mineways\/global\/base\.scss}line{font-family:\00003124}}
h2, h3, h4 {
  font-family: vt323, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Ryan\/Dropbox\/Mineways\/global\/base\.scss}line{font-family:\00003128}}
h1 {
  font-family: vt323, sans-serif;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Ryan\/Dropbox\/Mineways\/global\/base\.scss}line{font-family:\00003133}}
p, a, span {
  font-family: 'Varela Round', sans-serif;
}

@font-face {
  font-family: 'Minecrafter';
  src: url("Minecrafter/minecrafter_3.eot");
  src: url("Minecrafter/minecrafter_3.eot") format("embedded-opentype"), url("Minecrafter/minecrafter_3.woff") format("woff"), url("Minecrafter/minecrafter_3.ttf") format("truetype"), url("Minecrafter/minecrafter_3.svg#MineCrafter3Regular") format("svg");
}

/** body styles **/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Ryan\/Dropbox\/Mineways\/global\/base\.scss}line{font-family:\00003147}}
body {
  margin: 0px 15% 0 15%;
}

/* Authored Dependencies */
/* Patterns */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Ryan\/Dropbox\/Mineways\/downloads\.scss}line{font-family:\0000316}}
body #downloadImgs {
  display: block;
  text-align: center;
  padding: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Ryan\/Dropbox\/Mineways\/downloads\.scss}line{font-family:\0000320}}
body #downloadImgs div {
  display: inline-block;
  margin: 0px 10px 10px 10px;
  margin: 0 5%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Ryan\/Dropbox\/Mineways\/downloads\.scss}line{font-family:\0000324}}
body #downloadImgs div img {
  width: 100px;
  max-width: 100px;
  height: 100px;
  max-height: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Ryan\/Dropbox\/Mineways\/downloads\.scss}line{font-family:\0000327}}
body #downloadImgs div p {
  font-family: vt323, sans-serif;
}
