/* Vendor Dependencies */
@import "compass";
@import "global/base";

/* Authored Dependencies */
//@import "global/colors";
//@import "global/mixins";

/* Patterns */
//@import "global/tabs";
//@import "global/modals";

$osIcon : 100px;

body{
	#downloadImgs{
		display:block;
		text-align: center;
		padding:10px 0;
		div{
			display:inline-block;
			margin:0px 10px 10px 10px;
			margin: 0 5%;
			img{
				@include xy($osIcon, $osIcon);
			}
			p {
				@include minecrafterlite;
			}
		}
	}
}